<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Oro Ninja</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
</head>
<body>
    <div class="container">
        <h1>Tu oro: {{session['monedas']}}</h1>
        <div class="row">
            <div class="col-3 border text-center">
                <h3>Granja</h3>
                <h6>Ganas 10-20 monedas</h6>
                <form action="/process_money" method="post">
                    <input type="hidden" name="edificio" value="granja" />
                    <input type="submit" value="Encontrar Oro!" class="btn btn-success"/>
                </form>                  
            </div>
            <div class="col-3 border text-center">
                <h3>Cueva</h3>
                <h6>Ganas 5-10 monedas</h6>
                <form action="/process_money" method="post">
                    <input type="hidden" name="edificio" value="cueva" />
                    <input type="submit" value="Encontrar Oro!" class="btn btn-success"/>
                </form>                  
            </div>
            <div class="col-3 border text-center">
                <h3>Casa</h3>
                <h6>Ganas 2-5 monedas</h6>
                <form action="/process_money" method="post">
                    <input type="hidden" name="edificio" value="casa" />
                    <input type="submit" value="Encontrar Oro!" class="btn btn-success"/>
                </form>                  
            </div>
            <div class="col-3 border text-center">
                <h3>Casino</h3>
                <h6>Ganas/Pierdes 0-50 monedas</h6>
                <form action="/process_money" method="post">
                    <input type="hidden" name="edificio" value="casino" />
                    <input type="submit" value="Encontrar Oro!" class="btn btn-success"/>
                </form>                  
            </div>
        </div>
        <div class="row">
            <h2>Actividades</h2>
            <div class="border">
                {%for actividad in session['actividades'] %}
                    <p>{{actividad}}</p>
                {%endfor%}
            </div>
        </div>
    </div>
</body>
</html>